body {
    background-image: url("../images/nfl.jpg");
 
}

#search {
    margin-top: 10%;
}

#gifContainer {
    margin-top: 2%;
    margin-left: 1%;
}

.form-control {
    width: 300px;
}

#submitButton {
    background-color: lightsteelblue;
}

#navbar {
    background-color: lightgray;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
    margin-right: 75%;
    margin-left: 1%;
    margin-top: 2%;
}